{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix','container') }}>

  {{ title_suffix.contextual_links }}


  <div class="row">
    <div class="col-xs-12 col-md-9 col-lg-9 wow fadeInLeft delay-01s">
{#       {{ ds_content.field_facility_image }}
      {{ ds_content.body }}
      {{ ds_content.field_make_and_model }}
      {{ ds_content.field_mode_for_use }}
      {{ ds_content.field_specifications }}
      {{ ds_content.field_application }}
      {{ ds_content.field_facility_presentation }}
      {{ ds_content.field_working_principle }}
      {{ ds_content.field_technical_specifications }}
      {{ ds_content.field_special_features }}
      {{ ds_content.field_instructions_for_users }}
      {{ ds_content.field_instructions_for_sample }}
      {{ ds_content.field_instructions_for_reg }}
      {{ ds_content.field_publications_using_data }}
      {{ ds_content.field_facility_code }}
 #}
      {{ ds_content|without(
      'title', 
      'field_contact_name_ref',
      'field_facility_contact_email',
      'field_location',
      'field_facility_management_member', 
      'field_registration_link', 
      'field_info_iit_bombay', 
      'field_information_file', 
      'field_registration_form', 
      'field_facility_contact_no', 
      'field_other_facility_contact', 
      'field_facility_google_cal', 
      'field_facility_management_date', 
      'field_technical_specifications',
      'field_special_features', 
      'field_working_principle', 
      'field_facility_presentation',
      'field_publications_using_data',
      'field_facility_detail_aplication',
      'field_instructions_for_sample',
      'field_instructions_for_users',
      'field_instructions_for_reg',
      'field_facility_code',
      'field_faq',
      'field_minutes_of_facility'
      ) 
      }}
      
    </div>
    <div class="col-xs-12 col-md-3 col-lg-3">
        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_contact_name_ref }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_facility_contact_email }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_facility_contact_no }}
          </div>
        </div>
         
        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_location }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_other_facility_contact }}
          </div>
        </div>
        
{#         <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_facility_management_member }}
          </div>
        </div> #}

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12 mb_15">
            <h4 class="dark-grey node-field-label">
              {{ ds_content.field_facility_management_member|field_label }}
            </h4>
            <h4 class="dark-grey mb_5 node-field-label">
              (w.e.f. {{ ds_content.field_facility_management_date|field_value }})
            </h4>
              {{ ds_content.field_facility_management_member|field_value|safe_join("<br />") }}

          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_registration_link }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_info_iit_bombay }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_information_file }}
          </div>
        </div>
        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_registration_form }}
          </div>
        </div>
       
        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_facility_google_cal }}
          </div>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 wow fadeInLeft delay-01s">
      {{ ds_content|without(
      'title',
      'body',
      'field_facility_image',
      'field_application',
      'field_location',
      'field_facility_management_member',
      'field_mode_for_use',
      'field_central_facility',
      'field_make_and_model',
      'field_application',
      'field_contact_name_ref',
      'field_facility_contact_email',
      'field_location',
      'field_facility_management_member', 
      'field_registration_link', 
      'field_info_iit_bombay', 
      'field_information_file', 
      'field_registration_form', 
      'field_facility_contact_no', 
      'field_other_facility_contact', 
      'field_facility_google_cal', 
      'field_facility_management_date'
      ) 
      }}
    </div>
  </div>
{# 
<div class="row">
  <div class="wow fadeInLeft delay-01s">
    <div class="col-xs-12 col-md-9 col-lg-9">
        {{ ds_content.field_make_and_model }}
    </div>
  </div>

  <div class="wow fadeInLeft delay-01s">
    <div class="col-xs-12 col-md-9 col-lg-9">
        {{ ds_content.field_mode_for_use }}
    </div>
  </div>

  <div class="wow fadeInLeft delay-01s">
    <div class="col-xs-12 col-md-9 col-lg-9">
        {{ ds_content.field_specifications }}
    </div>
  </div>

  <div class="wow fadeInLeft delay-01s">
    <div class="col-xs-12 col-md-9 col-lg-9">
        {{ ds_content.field_application }}
    </div>
  </div>
</div> #}
</{{ ds_content_wrapper }}>
