{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix','container') }}>

  {{ title_suffix.contextual_links }}


  <div class="row">
    <div class="col-xs-12 col-md-9 col-lg-9 wow fadeInLeft delay-02s">
      {{ ds_content.field_facility_image }}
      {{ ds_content.body }}
      {{ ds_content.field_make_and_model }}
      {{ ds_content.field_mode_for_use }}
      {{ ds_content.field_specifications }}
      {{ ds_content.field_application }}
      {{ ds_content.field_facility_management }}
      {{ ds_content.field_facility_presentation }} 

    </div>
    <div class="col-xs-12 col-md-3 col-lg-3">
        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
            {{ ds_content.field_contact_name_ref }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
          {{ ds_content.field_facility_contact_email }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
          {{ ds_content.field_location }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
          {{ ds_content.field_registration_link }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
          {{ ds_content.field_info_iit_bombay }}
          </div>
        </div>

        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
          {{ ds_content.field_information_file }}
          </div>
        </div>
        <div class="row wow fadeInLeft delay-01s">
          <div class="col-sm-12">
          {{ ds_content.field_registration_form }}
          </div>
        </div>
    </div>
  </div>
{# 
<div class="row">
  <div class="wow fadeInLeft delay-01s">
    <div class="col-xs-12 col-md-9 col-lg-9">
        {{ ds_content.field_make_and_model }}
    </div>
  </div>

  <div class="wow fadeInLeft delay-01s">
    <div class="col-xs-12 col-md-9 col-lg-9">
        {{ ds_content.field_mode_for_use }}
    </div>
  </div>

  <div class="wow fadeInLeft delay-01s">
    <div class="col-xs-12 col-md-9 col-lg-9">
        {{ ds_content.field_specifications }}
    </div>
  </div>

  <div class="wow fadeInLeft delay-01s">
    <div class="col-xs-12 col-md-9 col-lg-9">
        {{ ds_content.field_application }}
    </div>
  </div>
</div> #}
</{{ ds_content_wrapper }}>
