{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

   <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                  
        <div class="img-box">
          {{ ds_content.field_ircc_team_image }}
          {#
          <ul class="text-center">
            <a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-twitter"></i></li></a>
            <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
          </ul>
          #}
        </div>
        <h1>{{ ds_content.field_ircc_team_name }}</h1>
        <h2>{{ ds_content.field_ircc_team_designation }}</h2>
        <p>{{ ds_content.field_ircc_team_email }}</p>
       <p>{{ ds_content.field_ircc_team_contact_no }}</p>
        <p>{{ ds_content.field_ircc_team_work_involved }}</p>
      </div>  

</{{ ds_content_wrapper }}>
